---
layout: default
---

<div itemscope='' itemtype='http://schema.org/BlogPosting' class="post">
  <h1 itemprop="headline" class="post-title">{{ page.title }}</h1>
  <div itemprop="datePublished" class="post-date">{{ page.date | date_to_string }}</div>
  <div itemprop="articleBody">
    {{ content }}
  </div>
</div>

{% include share-page.html %}

<div class="related">
  <h3>Other posts by author</h3>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <div class="related-posts-item" >
          <h4>
            <a href="{{ post.url }}">
              {{ post.title }}
              <div class="other-post-date"><small>{{ post.date | date_to_string }}</small></div>
            </a>
          </h4>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>

{% include disqus.html disqus_identifier=page.disqus_identifier %}
